# This is an umbrella
# for development of the whole project

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
# Testing
## !do not run `pytest .` from the base repository dir
## because it will result in import errors
pytest = "*"

# Linter
wemake-python-styleguide = "*"

# Docs
Sphinx = "*"
autodoc = "*"
myst-parser = "*"


[dev-packages]

[requires]
python_version = ">=3.10.0,<3.12.0"
