# This is an umbrella
# for development of the whole project
#
# python>=3.10,<3.12

# Testing
## !do not run `pytest .` from the base repository dir
## because it is an umbrella for other projects
## and thus result in import errors
pytest

# Linter
wemake-python-styleguide

# Docs
Sphinx
autodoc
myst-parser
