# This is an umbrella
# for development of the whole project
#
# python >= 3.10.0, < 3.12.0

# Testing
## !do not run `pytest .` from the base repository dir
## because it will result in import errors
pytest

# Linter
wemake-python-styleguide

# Docs
Sphinx
autodoc
myst-parser
