# This config was generated in FriendsWeb
server {{
    listen {PORT};
    server_name {DOMAIN};

    location / {{
        proxy_pass http://unix:{PROXY_SOCKET};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }}
}}
