server {
    listen 5000;
    server_name localhost;

    location / {
        proxy_pass  http://friends-web;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
